html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
}

.header-content {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-title {
    margin: 0;
    text-align: center;
    font-size: 600%;
    font-family: Arial Black;
    letter-spacing: -7px;
    line-height: 95%;
    text-transform: uppercase;
}

.header-subtitle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
    text-decoration: none;
    color: black;
}

.scroll-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll-text {
    font-family: Arial;
    font-size: 150%;
    margin-bottom: 0;
    text-align: center;
    color: black;
}

.down-arrow {
    font-size: 200%;
    margin-top: 0;
    text-align: center;
}

.section {
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
    padding-top: 5%;
}

.project-table {
    width: 95%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}

.project-table tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.project-table tr:hover {
    background-color: pink;
    cursor: pointer;
}

.project-table tr:hover .project-img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.project-table td {
    padding: 1%;
}

.project-count-cell {
    width: 5%;
    text-align: center;
}

.project-img-cell {
    width: 25%;
    overflow: hidden;
    vertical-align: middle;
}

.project-title-cell {
    width: 20%;
    vertical-align: bottom;
}

.project-title-cell h1 {
    margin: 0;
}

.project-desc-cell {
    width: 20%;
    vertical-align: bottom;
}

.project-desc-cell p {
    margin: 0;
}

.project-author-cell {
    width: 20%;
    vertical-align: bottom;
}

.project-author-cell p {
    margin: 0;
}

.project-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}