html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
}

.header-content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-title {
    margin: 0;
    text-align: center;
    font-size: 600%;
    font-family: Arial Black;
    letter-spacing: -7px;
    line-height: 95%;
    text-transform: uppercase;
}

.header-subtitle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scroll-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll-text {
    font-size: 150%;
    margin-bottom: 0;
    text-align: center;
}

.down-arrow {
    font-size: 200%;
    margin-top: 0;
    text-align: center;
}

.about {
    height: 100vh;
    width: 100%;
}